body {
    background-image: url('./assets/kimono-fabric-6080927.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}